/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* === Simple browser reset === */
* {
  /* Some browser add margin and padding to some elements */
  margin: 0;
  padding: 0;

  /* Change box model so borders and paddings are no longer added to total width or height of elements */
  box-sizing: border-box;
}

body {
  /* Always set font styles in the body element */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* 1.7 times bigger than standard line-height */
  line-height: 1.7;

  color: #777;
  padding: 30px;
}

/* === Header === */
.header {
  /* height should always be 95% of the viewport height */
  height: 95vh;

  /* Two background-images on top of eacht other, gradient comes first */
  background-image:
    linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)),
    url('../img/hero.jpg');

  /* Always try to fit the background inside the element/viewport */
  background-size: cover;

  /* Ensures that the top of the image stays at the top of the container */
  background-position: top;

  /* Specify a polygon in which the element whil still be visible */
  /* Can use the Clippy tool for this */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* x and y,  Clockwise */

  /* Set position to relative so .logo-box (child) has a reference for the absolte positioning */
  position: relative;
}

.logo-box {
  /* Absolute so we can control where it is displayed */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  /* Absolute so we get it in the middle */
  position: absolute;

  /* Position this element always exactly in the center of the parent */
  top: 40%; /* Sets top border of text-box to 40% of the height of parent element */
  left: 50%; /* Sets left border of text-box to 50% of the width of the parent element */
  transform: translate(-50%, -50%); /* Translate this element to position it minus half its width and height which puts it in the center */

  /* Align our button to the center because it is treated as text */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* Fix for animation causing elements to shake up or down */
  backface-visibility: hidden;

  margin-bottom: 60px;
}

.heading-primary-main {
  /* Block so it starts on a new line */
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* Add animation */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; /* Slower towards the end */

  /* animation-iteration-count: 3; Amount of times animation is played */
  /* animation-delay: 3s; Wait before animation to play */
}

.heading-primary-sub {
  /* Block so it starts on a new line */
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* Add animation */
  animation: moveInRight 1s ease-out;
}

/* Animations for header title */
/* Browsers are optimised for opacity and transform */
@keyframes moveInLeft {
  /* Start of the animation */
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  /* End of the animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* Start of the animation */
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  /* End of the animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Use pseudo classes to style both states of our anchor button */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px; /* Top/bottom and left/right */
  display: inline-block; /* Give the button its own space */
  border-radius: 100px;

  /* Specify that there can be a transition on this element (for :hover and :active) */
  /* Alaways specify it on the base state */
  transition: all .2s;
}

.btn:hover {
  /* Use transform to let the button move up */
  transform: translateY(-3px);

  /* Make button 'pop' so it goes 'closer' to the user */
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
  transform: translateY(-1px); /* In relation to the base state (.btn) */

  /* Let the button go a little closer to the page from the :hover state */
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}
