/* Use pseudo classes to style both states of our anchor button */

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* Top/bottom and left/right */
    display: inline-block;
    /* Give the button its own space */
    border-radius: 10rem;
    /* Specify that there can be a transition on this element (for :hover and :active) */
    /* Alaways specify it on the base state */
    transition: all .2s;
    /* for the after pseudo element is it has a reference element for absolute positioning */
    position: relative;
    font-size: 1.6rem;
  }

  &:hover {
    /* Use transform to let the button move up */
    transform: translateY(-.3rem);
    /* Make button 'pop' so it goes 'closer' to the user */
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    /* When buttons is hovered we want some styles for the after pseudo element */
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1rem);
    /* In relation to the base state (.btn) */
    /* Let the button go a little closer to the page from the :hover state */
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  /* Pseudo element is treated as child of the base element */
  &::after {
    /* Always specify the content property otherwise it wont be displayed */
    content: "";
    /* Because it is a child this is the same size as the normal button */
    height: 100%;
    width: 100%;
    /* Same properties as parent element */
    border-radius: 10rem;
    display: inline-block;
    /* Set it behind the button */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* Set on initial state to animate .btn:hover::after */
    transition: all .4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }

  /* Page load animation for our header button */
  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    /* Automatically apply the styles of the 0% of the moveInBottom animation */
    animation-fill-mode: backwards;
  }
}
